<svg class="hidden">
  <svg id="icon-github" viewBox="0 0 33 33">
    <title>github</title>
    <path d="M16.608.455C7.614.455.32 7.748.32 16.745c0 7.197 4.667 13.302 11.14 15.456.815.15 1.112-.353 1.112-.785 0-.386-.014-1.411-.022-2.77-4.531.984-5.487-2.184-5.487-2.184-.741-1.882-1.809-2.383-1.809-2.383-1.479-1.01.112-.99.112-.99 1.635.115 2.495 1.679 2.495 1.679 1.453 2.489 3.813 1.77 4.741 1.353.148-1.052.569-1.77 1.034-2.177-3.617-.411-7.42-1.809-7.42-8.051 0-1.778.635-3.233 1.677-4.371-.168-.412-.727-2.069.16-4.311 0 0 1.367-.438 4.479 1.67a15.602 15.602 0 0 1 4.078-.549 15.62 15.62 0 0 1 4.078.549c3.11-2.108 4.475-1.67 4.475-1.67.889 2.242.33 3.899.163 4.311C26.37 12.66 27 14.115 27 15.893c0 6.258-3.809 7.635-7.437 8.038.584.503 1.105 1.497 1.105 3.017 0 2.177-.02 3.934-.02 4.468 0 .436.294.943 1.12.784 6.468-2.159 11.131-8.26 11.131-15.455 0-8.997-7.294-16.29-16.291-16.29"></path>
  </svg>
</svg>
<main>
  <header>
    <h1>Angular Particle Effects for Buttons</h1>
    <a class="github" href="https://github.com/danielpdev/angular-particle-effect-button" title="Find this project on GitHub">
      <svg class="icon icon--github">
        <use xlink:href="#icon-github"></use>
      </svg>
    </a>
  </header>
  <div class="grid">
    <div class="grid__item theme-1">
      <button class="action" *ngIf="reset0" (click)="hidden0=!hidden0">Reset</button>
      <button class="particles-button" libParticleEffectButton (pComplete)="reset0=!reset0" [pHidden]="hidden0" (click)="hidden0=!hidden0">Send</button>
    </div>
    <div class="grid__item theme-2">
      <button class="action" *ngIf="reset1" (click)="hidden1=!hidden1">Reset</button>
      <button class="particles-button" [pSize]=6 libParticleEffectButton (pComplete)="reset1=!reset1" pType="triangle" pEasing="easeOutQuart" pParticlesAmountCoefficient=4
              pOscillationCoefficient=2 pColor='#fff' [pHidden]="hidden1" (click)="hidden1=!hidden1">Upload
      </button>
    </div>
    <div class="grid__item theme-3">
      <button class="action" *ngIf="reset2" (click)="hidden2=!hidden2">Reset</button>
      <button class="particles-button" libParticleEffectButton (pComplete)="reset2=!reset2" pType="rectangle" pDuration=500 pDirection="top" pEasing="easeOutQuad"
              [pSize]=8 pParticlesAmountCoefficient=4 pOscillationCoefficient=2 pColor='#091388' [pHidden]="hidden2" (click)="hidden2=!hidden2">Delete
      </button>
    </div>
    <div class="grid__item theme-4">
      <button class="action" *ngIf="reset3" (click)="hidden3=!hidden3">Reset</button>
      <button class="particles-button" libParticleEffectButton (pComplete)="reset3=!reset3" [pSpeed]=1 pDuration=500 pDirection="right" [pSize]=4 pParticlesAmountCoefficient=1.5
              pOscillationCoefficient=1 pColor='#e85577' [pHidden]="hidden3" (click)="hidden3=!hidden3">Submit
      </button>
    </div>
    <div class="grid__item theme-5">
      <button class="action" *ngIf="reset4" (click)="hidden4=!hidden4">Reset</button>
      <button class="particles-button" libParticleEffectButton (pComplete)="reset4=!reset4" pType="rectangle" [pSpeed]=1 pDuration=1300 pEasing="easeInExpo" [pSize]=3
              pParticlesAmountCoefficient=10 pOscillationCoefficient=1 [pHidden]="hidden4" (click)="hidden4=!hidden4">refresh
      </button>
    </div>
    <div class="grid__item theme-6">
      <button class="action" *ngIf="reset5" (click)="hidden5=!hidden5">Reset</button>
      <button class="particles-button" libParticleEffectButton (pComplete)="reset5=!reset5" pDirection="bottom" pDuration=1000 pEasing="easeInExpo" [pHidden]="hidden5"
              (click)="hidden5=!hidden5">Bookmark
      </button>
    </div>
    <div class="grid__item theme-7">
      <button class="action" *ngIf="reset6" (click)="hidden6=!hidden6">Reset</button>
      <button class="particles-button" libParticleEffectButton (pComplete)="reset6=!reset6" pType="rectangle" pColor="#e87084" pStyle="stroke" [pSpeed]=1 pDuration=600
              [pEasing]="[0.2,1,0.7,1]" [pSize]=15 pParticlesAmountCoefficient=2 pOscillationCoefficient=5 pDirection="right" [pHidden]="hidden6"
              (click)="hidden6=!hidden6">Subscribe
      </button>
    </div>
    <div class="grid__item theme-8">
      <button class="action" *ngIf="reset7" (click)="hidden7=!hidden7">Reset</button>
      <button class="particles-button" libParticleEffectButton (pComplete)="reset7=!reset7" pType="triangle" pColor="blue" pStyle="stroke" [pSpeed]=1.5 pDuration=1400
              [pSize]=5 pOscillationCoefficient=15 pDirection="right" [pHidden]="hidden7" (click)="hidden7=!hidden7">Logout
      </button>
    </div>
    <div class="grid__item theme-9">
      <button class="action" *ngIf="reset8" (click)="hidden8=!hidden8">Reset</button>
      <button class="particles-button" libParticleEffectButton (pComplete)="reset8=!reset8" pType="triangle" pColor="blue" pStyle="stroke" [pSpeed]=.1 pDuration=500
              pEasing="easeOutQuad" pParticlesAmountCoefficient=10 pOscillationCoefficient=80 [pHidden]="hidden8" (click)="hidden8=!hidden8">
        Add to cart
      </button>
    </div>
    <div class="grid__item theme-10">
      <button class="action" *ngIf="reset9" (click)="hidden9=!hidden9">Reset</button>
      <button class="particles-button" libParticleEffectButton (pComplete)="reset9=!reset9" pDirection="right" [pSize]=4 pColor="#969696" pDuration=1200 pEasing="easeInCubic"
              pParticlesAmountCoefficient=8 [pSpeed]=0.4 pOscillationCoefficient=1 [pHidden]="hidden9" (click)="hidden9=!hidden9">
        Pause
      </button>
    </div>
    <div class="grid__item theme-11">
      <button class="action" *ngIf="reset10" (click)="hidden10=!hidden10">Reset</button>
      <button class="particles-button" libParticleEffectButton (pComplete)="reset10=!reset10" pStyle="stroke" pColor="#1b81ea" pDirection="bottom" pDuration=1200 pEasing="easeOutSine"
              [pSpeed]=.7 pOscillationCoefficient=5 [pHidden]="hidden10" (click)="hidden10=!hidden10">Register
      </button>
    </div>
    <div class="grid__item theme-12">
      <button class="action" *ngIf="reset11" (click)="hidden11=!hidden11">Reset</button>
      <button class="particles-button" libParticleEffectButton (pComplete)="reset11=!reset11" pType="triangle" pEeasing="easeOutSine" [pSize]=3 pDuration=800 pParticlesAmountCoefficient=7
              [pSpeed]=3 pOscillationCoefficient=1 [pHidden]="hidden11" (click)="hidden11=!hidden11">Export
      </button>
    </div>
    <div class="grid__item theme-1">
      <button class="action" *ngIf="reset12" (click)="hidden12=!hidden12">Reset</button>
      <button class="particles-button" libParticleEffectButton (pComplete)="reset12=!reset12" [pHidden]="hidden12" (click)="hidden12=!hidden12">Send</button>
    </div>
  </div>
</main>
